/*
*Create a new file called "main.css"
*Add a link element to the head of your index.html file
<link rel="stylesheet" href="main.css" type="text/css">
*Edit the main.css file
	*add a declaration for each element in the body of your index.html file.
	*add properties to style the background color of each element.
	*add properties to style the border of each element.
	*add properties to style the font and text of each element.
*Use at least 20 different properties. Include a list of these 20 at the TOP *of your main.css file as a css comment.
*Use at least 4 different units to set sizes of various aspects of your webpage.
*Go learn something from 2 classmates; add a comment to your main.css file that describes what you learned.
*View your index.html in the development server.
*Validate your index.html file.
*Validate your main.css file.
*Copy this list of requirements and paste it into the top of your "main.css" file as a css comment. Put an asterisk in front of each one that you did.
*Upload to the production server with sftp.
*View your index.html in the production server.*/

/* 1.font-family 2.color 3.background-color 4.cursor 5.border 6.font-size 7.text-align 8.margin 9.text-decoration 10.text-shadow 11.text-transform 12.letter-spacing 13.padding 14.background-image 15.outline 16.outline-style 17.opacity 18.border-style 19.word-spacing 20.font-style

<text-shadow from> Youngil
<background-image> using gif from Aaron*/

html {
	/*1*/font-family: arial;
	/*2*/color: white;
	/*3*/background-color: #DC143C;
	/*4*/cursor: wait;
}

nav {
	background-color: #8A0000;
	color: white;
	padding: 10px;
	font-size: 18px;
	font-weight: bold;
	margin: 0px;
}

a:link, a:visited {
	color: white;
}

h1 {
	/*5*/border-bottom: solid 2px white;
	/*6*/font-size: 50px;
	/*7*/text-align: center;
}

h2 {
	font-size: 26px;
	text-align: center;
	/*8*/margin: 50px;
	margin-top: 70px;
	/*9*/text-decoration: line-through;
	cursor: help;
}

h3 {
	text-align: center;
	font-family: serif;
	font-size: 30px;
	/*10*/text-shadow: 3px 3px #777;
	/*11*/text-transform: uppercase;
	/*12*/letter-spacing: 16px;
	/*13*/padding: 20px;
	/*14*/background-image: url(http://cdn.wallpapersafari.com/73/10/E1bD5B.jpg);
	background-repeat: no-repeat;
	background-position: center;
	/*15*/outline: 5px solid rgba(255, 255, 255, 0.7);
	/*16*/outline-style: outset;
	margin-left: 200px;
	margin-right: 200px;
	/*17*/opacity: 1;
	cursor: crosshair;
}

p {
	background-color: #f99;
  	padding: 16px;
	cursor: not-allowed;
}

footer {
	border-top: solid 1px white;
	/*18*/border-top-style: dotted;
	text-align: center;
	/*19*/word-spacing: 1px;
	/*20*/font-style: italic;
}
