html {
	/*1*/font-family: arial;
	/*2*/color: white;
	/*3*/background-color: #DC143C;
	/*4*/cursor: wait;
}

h1 {
	/*5*/border-bottom: solid 2px white;
	/*6*/font-size: 50px;
	/*7*/text-align: center;
}

h2 {
	font-size: 26px;
	text-align: center;
	/*8*/margin: 50px;
	margin-top: 70px;
	/*9*/text-decoration: line-through;
	cursor: help;
}

h3 {
	text-align: center;
	font-family: serif;
	font-size: 30px;
	/*10*/text-shadow: 3px 3px #777;
	/*11*/text-transform: uppercase;
	/*12*/letter-spacing: 16px;
	/*13*/padding: 20px;
	/*14*/background-image: url(http://cdn.wallpapersafari.com/73/10/E1bD5B.jpg);
	background-repeat: no-repeat;
	background-position: center;
	/*15*/outline: 5px solid rgba(255, 255, 255, 0.7);
	/*16*/outline-style: outset;
	margin-left: 200px;
	margin-right: 200px;
	/*17*/opacity: 1;
	cursor: crosshair;
}

p {
	background-color: #f99;
  	padding: 16px;
	cursor: not-allowed;
}

footer {
	border-top: solid 1px white;
	/*18*/border-top-style: dotted;
	text-align: center;
	/*19*/word-spacing: 1px;
	/*20*/font-style: italic;
}
