html {
background-color: #a6c1ed;
font-family: arial;
}

h1 {
color: white;
border-bottom: 4px solid white;
background-color: #3a5277;
padding-top: 16px;
padding-left: 16px;
font-size: 36px;
}

h2 {
color: white;
border-left: 10px solid white;
background-color: #385a91;
padding: 4px;
}
