html {
font-family: times new roman;
background-color: pink;
border-left: 40px dotted red;
}

header {
background-color: cyan;
border-bottom: 40px dotted red;
}

main {
border: 4px solid yellow;
border-style: outset;
outline: 4px solid yellow;
outline-style: inset;
}

h1 {
font-size: 60px;
font-style: bold;
color: red;
text-decoration: underline;
text-decoration-color: black;
border-bottom: 4px solid black;
}

h2 {
font-size: 16px;
font-weight: normal;
font-family: arial;
color: blue;
text-decoration: underline;
margin-top: 46px;
border-top: 3px dotted brown;
}

h3 {
font-size: 28px;
font-style: bold;
background-color: blue;
color: white;
}

h4 {
font-size: 24px;
font-family: arial;
font-style: bold;
background-color: blue;
color: white;
}

h5 {
font-size: 20px;
background-color: brown;
padding-left: 24px;
border-left: 24px solid red;
border-right: 650px solid red;
}

p {
font-size: 16px;
margin-top: 20px;
border-top: 3px dotted brown;
}

footer {
margin-top: 40px;
border-top: 3px dotted brown;
border-right: 780px solid black;
font-size: 36px;
padding-right: 36px;
color: blue;
}
